body {
  font-family: Helvetica,sans-serif;
  font-size:13px;
  line-height: 1.6;
  text-align: left;
  margin:0;
  padding:0;
}

a {
  color: #1b7ea1;
  text-decoration: none;
}

a:hover {
    color: #444;
}

p {
  color: #6e6e6e;
  margin: 0 0 15px;
  margin-top: 15px;
}

.about {
  font-size: 15px;
  line-height: 1.3;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, sans-serif;

}

h2 {
    font-size: 30px;
    font-family: 'Cambo', serif;
    margin-bottom: 1px;
    color: #1b7ea1;
}

h3 {
  font-family: 'Cambo', serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 1px;
  color: #444;
}

h4 {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6e6e6e;
}

h1
 {
 font-family: 'Cambo', serif;
 font-size: 55px;
 letter-spacing: 1px;
 text-align: center;
 color: #fff;
}

/* NAVIGATION */

#header {
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}


.transparent {
  zoom: 1;
  filter: alpha(opacity=95);
  opacity: 0.95;
}

#header .nav {
  background: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400
}

#header .nav li {
  display: inline;
  margin: 22px 40px 0 0px;
}

#header .nav ul {
  margin: 0 auto;
  padding: 0px;
}

/* SECTIONS */
.wrap {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 24px 40px 24px;
  position: relative;
  width: 960px;
  border-top: 1px solid #ddd;
}

.wrap-one {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 24px 40px 24px;
  position: relative;
  border-top: 1px solid #ddd;
}

.wrap img {
  padding: 0 0 0 10px;
}

#home {
  background: #1b7ea1;
  height: 530px;
  padding-top: 280px;
  width: 100%;
}


#about {
  height: 300px;
  padding-top: 110px;
}

#work {
  padding-top: 110px;
}


#contact {
  height: 455px;
  padding-top: 110px;
}

.gulp {
  width: 300px;
  margin: 0px 0 0px 20px;
  float: left;
  display: inline;
  position:relative;
}

.biggulp {
  float: left;
  padding-bottom: 4px;
  width: 600px;
}

.doublegulp {
  margin: 15px auto 0;
  position: relative;
  width: 600px;
}

.beginning {
  margin: 0px auto 20px;
  text-align: center;
  padding: 0px 24px 0px 24px;
}


.photo_container {
  float:left;
  width: 600px;
}

/* CONTACT */
.social {
  text-align: center;
  margin: 0 auto;
}

a.mailicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("../img/mailicon.png");
}

a.mailicon:hover {
  background-position: 0 -24px;
}

a.flickricon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("../img/flickricon.png");
  margin-left: 14px;
}

a.flickricon:hover {
  background-position: 0 -24px;
}

a.facebookicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("../img/facebookicon.png");
  margin-left: 15px;
}

a.facebookicon:hover {
  background-position: 0 -24px;
}

a.twittericon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("../img/twittericon.png");
  margin-left: 20px;
}

a.twittericon:hover {
  background-position: 0 -24px;
}

a.githubicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("../img/githubicon.png");
  margin-left: 20px;
}

a.githubicon:hover {
  background-position: 0 -24px;
}


#footer {
  background: url("img/footer.gif") repeat-x scroll center bottom #1b7ea1;
  height: 70px;
  margin: 0px auto;
}

@media screen and (max-width: 480px) {
  #footer {
    width:480px;
  }

  #home {
    width: 100%;
  }

  #header .nav {
    min-height: 15px;
    font-size: 9px;
  }

  .wrap {
    width: 100%;
  }

  .photo_container {
    width: 100%;
  }

  #header .nav li {
    float: left;
    margin: 0px 5px;
  }

  .wrap img {
    width: 80%;
  }

  h1 {
    font-size:40px;
  }

  .biggulp {
    width: 100%;
  }

  .gulp {
    width: 80%;
    margin: 20px 0 0px 20px;
  }

  .doublegulp {
    width: 90%;
  }
}

.page_container {
  width: 900px;
  margin: 100px auto;
}

.page_container h3{
  font-size: 20px;
  opacity: 0.85;
  color: #1b7ea1;
  padding-top: 10px;
}

.page_container iframe {
  margin: auto;
  width: 100%;
  height: 700px;
  padding: 0px;
}

.page_container table{
  margin: auto;
  width: 90%;
  text-align: left;
  padding-bottom: 30px;
}

.page_container img {
  display: block;
  margin: 20px 0px;
  clear: both;
}

ul {
  color: #6e6e6e;
  list-style-type: disc;
  padding-left: 2.5em;
}

ol {
  color: #6e6e6e;
  padding-left: 2.5em;
  list-style: decimal;
}

th, td {
  border-bottom: 1px solid #ddd;
  color: #6e6e6e;
}
