
body {
  font-family: "Helvetica",sans-serif;
  font-size:16px;
  text-align: left;
  margin:30px 0px 0px;
  padding:0;
  -webkit-font-smoothing: antialiased;
  color:#444;
}

.container {
font-family: Georgia, serif;
font-size: 17px;
line-height: 1.6;
text-align: left;
line-height: 1.6em;
font-weight: 200;
line-height: 1.6em;

}
.container img {
  display: block;
  margin: 20px 0px;
  clear: both;
}

.img_credit {
font-size: 11px;
text-transform: uppercase;
font-family: Helvetica, sans-serif;
font-weight: bold;
margin-top: 40px;
letter-spacing: .02em;
}
div.content img {
  max-width: 100%
}
div.content {
  width: 640px;
margin: auto;
}

footer {
text-align: center;
padding: 40px 0px;
background: #6b98ae;
clear: both;
margin-top: 50px;
display: inline-block;
width: 100%;
}

footer .deets {
  width: 640px;
  margin: auto;
  color:white;
}

.tags {
text-transform: lowercase;
font-weight: 100;
font-size: 12px;
letter-spacing: 1px;
margin: 0px;
}

.deets span {
  margin-right:4px;
}

.content .deets span.date {
  margin-right:20px;
  font-weight: bold
}

footer .deets a {
  color:white;
  padding:0px 10px;
}

footer .deets a:hover {
  color:black;
}

blockquote {
  margin: 20px 0px
}
blockquote h1 {
  font-size: 28px;
  font-style: normal;
}
.content blockquote {
  padding: 30px;
font-style: italic;
font-family: Georgia, serif;
background: #f7f7f7;
}
.content h1 {
text-align: left;
color: #444;
}

.back_button {
position: absolute;
left: 0px;
}

.content > h1 {
  line-height: 1.3em
}

.deets {
  font-size: 11px;
font-weight: 400;
text-transform: uppercase;
font-family: "Helvetica",sans-serif;
letter-spacing: 1px;
}

.container {
  width: 960px;
  margin: 100px auto;
}

.pagination {
  clear: both;
  text-align: center;
  margin: 20px 0px;
  display: block;
}

.post {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-family: Helvetica, sans-serif
}

.post.shorts {
clear: none;
float: left;
width: 360px;
margin: 0px 20px;
height: 130px;
}

.large_format {
  margin-bottom: 100px;
}

.small_format {
  width: 800px;
margin: auto;
}
.post .post_img {
  height: 200px;
  overflow: hidden;
  margin-right: 20px
}

.post .post_summary {
  margin-left:20px;
}

.post h4,  .post .deets{
  margin: 0px
}

.post .post_img img{
  width: 100%
}

.post > div {
  float: left;
  width: 460px
}



a {
  color: #6b98ae;
  text-decoration: none;
}

a:hover {
    color: #444;
}

p {
  color: #444;
  margin: 0 0 15px;
  margin-top: 18px;
}

.about {
  font-size: 15px;
  line-height: 2;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, sans-serif;

}

h2 {
    font-size: 30px;
  font-family: 'Cambo', serif;
    margin-bottom: 10px;
    color: #6b98ae;
}

h3 {
  font-family: 'Cambo', serif;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #444;
}

.post_summary h3 {
  font-size: 22px;
  line-height: 1.6em
}
h4 {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6e6e6e;

}

.blog_home_header {
display: block;
margin: 0px auto 50px auto;
text-align: center;
border-bottom: 1px solid #cecece;
width: 500px;
}


.blog_home_header p {
  margin: 5px 0px 15px;
}


.blog_home_header .deets.all_tags {
  border-top:solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  margin:5px 0px;
  text-transform: lowercase;
  font-size: 11px;
font-weight: 100;
background: #F5F5F5
}

h1
 {
 font-family: 'Cambo', serif;
 font-size: 55px;
 letter-spacing: 1px;
 text-align: center;
 color:  #6b98ae;
 display: inline-block;
}

/* NAVIGATION */

#header {
padding: 0px;
position: fixed;
top: 0px;
width: 100%;
z-index: 10;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
box-shadow: 0 0 10px rgba(0,0,0,0.15);
}


.non-stick-item:hover .backarrow {
  background: url("/blog/img/backarrow_black.png") no-repeat ;
  background-size: 25px;
}

.backarrow {
  background: url("/blog/img/backarrow.png") no-repeat ;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
  margin:-4px 10px;
}

.back_button span:last-child {
  padding-top: 2px;
  float: left;
}

#header.non-stick {
  position: absolute;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=97);
  opacity: 0.97;
}

#header .nav {
  background: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400
}

#header .nav li {
display: inline;
margin: 22px 40px 0 0px;
}

#header.non-stick .nav div {
display: inline-block;
margin: 0px 30px 10px 0px;
float: left;
}

#header .nav ul {
margin: 0px auto;
padding:0px;
line-height: 1.6em
}

#header .nav li.selected a {
  color: black
}

/* SECTIONS */
.wrap {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 24px 40px 24px;
  position: relative;
  width: 960px;
  border-top: 1px solid #ddd;
}

.wrap-one {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 24px 40px 24px;
  position: relative;
  border-top: 1px solid #ddd;
}

.wrap img {
   padding: 0 0 0 10px;
}



#home {
background: url("banner-2.gif") repeat-x scroll center bottom #6b98ae;
height: 530px;
padding-top: 280px;
width: 100%;

}


#about {
    height: 600px;
    padding-top: 110px;
}

#work {
    padding-top: 110px;
}


#contact {
    height: 455px;
    padding-top: 110px;
}

.gulp {
  width: 300px;
  margin: 0px 0 0px 20px;
  float: left;
  display: inline;
  position:relative;
}

.biggulp {
float: left;
padding-bottom: 4px;
width: 600px;
}

.doublegulp {
    margin: 15px auto 0;
    position: relative;
    width: 600px;
}

.beginning {
    margin: 0px auto 20px;
    text-align: center;
    padding: 0px 24px 0px 24px;
}


.photo_container {
  float:left;
  width: 600px;
}



/* CONTACT */


.social {
  text-align: center;
  margin: 0 auto;
}

a.mailicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("mailicon.png");
  }

a.mailicon:hover {
  background-position: 0 -24px;
  }

a.flickricon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("flickricon.png");
  margin-left: 14px;


  }

a.flickricon:hover {
  background-position: 0 -24px;
  }

a.facebookicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("facebookicon.png");
  margin-left: 15px;

  }

a.facebookicon:hover {
  background-position: 0 -24px;
  }

a.twittericon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background: url("twittericon.png");
  margin-left: 20px;
  }

a.twittericon:hover {
  background-position: 0 -24px;
  }


#footer {
  background: url("footer.gif") repeat-x scroll center bottom #6b98ae;
  height: 70px;
  margin: 0px auto;
}

@media (max-width:480px) {
  #footer {
  width:480px;
  }

  div.content {
    max-width: 300px;
  }

  .container {
    width: 100%
  }

  div.content img {
width: 300px;
height: auto;
}

  .back_button {
    display: none
  }
  .blog_home_header {
    width: 200px
  }

.post > div {
  clear: both;
  width: 100%
}
  #header .nav {
    min-height: 15px;
    font-size: 9px;

  }
  .photo_container {
  width: 100%;
}

  #header .nav li {
float: left;
margin: 0px 5px;
  }

  .wrap img {
  width: 80%;
  }

  h1 {
    font-size:40px;
  }

  .biggulp {
  width: 100%;
  }

  .gulp {
  width: 80%;
  margin: 20px 0 0px 20px;
  }

  .doublegulp {
    width: 90%;
  }


}